
[miscellany]
enable-auto-props = yes

[auto-props]
*.ai = svn:mime-type=application/postscript
*.bmp = svn:mime-type=image/bmp
*.bz2 = svn:mime-type=application/x-bzip2
*.doc = svn:mime-type=application/msword
*.eps = svn:mime-type=application/postscript
*.gif = svn:mime-type=image/gif
*.gz = svn:mime-type=application/x-gzip
*.h5 = svn:mime-type=application/x-hdf
*.hdf = svn:mime-type=application/x-hdf
*.ico = svn:mime-type=image/x-icon
*.jpeg = svn:mime-type=image/jpeg
*.jpg = svn:mime-type=image/jpeg
*.odc = svn:mime-type=application/vnd.oasis.opendocument.chart
*.odf = svn:mime-type=application/vnd.oasis.opendocument.formula
*.odg = svn:mime-type=application/vnd.oasis.opendocument.graphics
*.odi = svn:mime-type=application/vnd.oasis.opendocument.image
*.odp = svn:mime-type=application/vnd.oasis.opendocument.presentation
*.ods = svn:mime-type=application/vnd.oasis.opendocument.spreadsheet
*.odt = svn:mime-type=application/vnd.oasis.opendocument.text
*.pdf = svn:mime-type=application/pdf
*.png = svn:mime-type=image/png
*.ppm = svn:mime-type=image/x-portable-pixmap
*.ppt = svn:mime-type=application/vnd.ms-powerpoint
*.ps = svn:mime-type=application/postscript
*.psd = svn:mime-type=application/octet-stream
*.tar = svn:mime-type=application/x-tar
*.tif = svn:mime-type=image/tiff
*.tiff = svn:mime-type=image/tiff
*.tgz = svn:mime-type=application/x-compressed
*.xls = svn:mime-type=application/vnd.ms-excel
*.zip = svn:mime-type=application/zip


